* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.wrapper{
    display:flex;
    flex-flow :row wrap;
    text-align: center;
}

.wrapper > * {
padding: 5px;
margin:5px;
flex: 50%;
border-radius: 15px;
}

.header {
    background: rgb(0, 125, 190);
    height:auto;
    align-content: flex-start;
    font-size: 14px;
    
}


.flex-container  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  .flex-container image {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }
  
    .navigation {
          list-style: none;
          text-transform: uppercase;
      }
  .navigation a {
          text-decoration: none;
          letter-spacing: .10rem;
      }
  
  .navigation  {
    display: flex;
    flex-flow: row wrap;
  }
  
  .navigation a {
    display: block;
    padding: 1em;
    color: black;
  }
  
  .navigation a:hover {
      background:white;
  }
  
  /* *********** media queries *********** */
  @media all and (max-width: 990px) {
    .flex-container {
      flex-direction: column;
    }
    

    .navigation  {
      width: 100%;
      justify-content: space-around;
    }

    
  }
  
  
  /* ****** ****** */
  @media all and (max-width: 600px) {
   
    .navigation {
      flex-direction: column;
    }
    
    .navigation a { 
      text-align: center; 
      padding: 5px;
      border-top: 1px solid rgba(255,255,255,0.3); 
      border-bottom: 1px solid rgba(0,0,0,0.1); 
    }
    
    .navigation li:last-of-type a {
      border-bottom: none;
    }

    .box1, .box2, .box3{
      display: flex;
      flex-wrap: row wrap;
    }
  }


.footer {
    background: rgb(0, 125, 190);
    font-size: 10px;
}

.main {
  display: flex;
  flex-flow: row wrap;  
  align-items:center;
  font-size: 20px;
  
    
}

.main1 {
  display: flex;
  flex-wrap: wrap;  
  align-items:flex-start;
  font-size: 20px;
}

.box1{
  padding: 1px;
  flex: 25%;
}

.box2 {
  padding: 1px;
  flex: 40%;
  
}

@media (max-width: 800px) {
  .box1, .box2 {
    flex: 100%;
  }
}

.aside1 {
    background: rgb(84, 198, 221);
    
}

.aside2 {
    background: white;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    padding-top: 2px;    
}

.aside3 {
  background: white;
  display: flex;
  flex-wrap: wrap;  
  align-items:flex-start;
  font-size: 20px; 
}

.box3 {
  display: flex;
  flex-flow:row wrap;
  padding: 20px;
  flex:40%;
  background-color:;
  max-width:50vh;
  height:280px;
  text-align:justify;
}

.box4 {  
  margin: 3px;
}

.box5 {
  
  margin: 2px;
  background-color:;
  height: 280px; 
}

.box6 {
  border:3px solid black;
  border-radius: 2px;
  margin: 2px;
  background-color:rgb(84, 198, 221);
  height: 280px;
 
}